.bg
{
  position: absolute;
  width: 100%;
  z-index: 0; 
}

body{ 
  font-family: 'Crete Round', serif;
  margin:0px;   
  padding:0px; 
}

.Entrada {
  position: relative;
  z-index: 9; 
  margin: center;
}

.Entrada ul li{
  text-decoration:none;
}


#cssmenu a{
  text-decoration:none;
  color:#FFFFFF;
  background-color: rgb(0,0,0);
  display: block;
  padding: 20px 12px;
  height: 32px;
  font-size: 25px;
  margin-top: center;
}  

#cssmenu a:hover{

  background-color: rgb(200,0,95);
}  

#cssmenu *{
  position: relative;
  z-index: 1;
  margin:0px;
  padding:0px;
  list-style: none;
  width: 95px;
}

