.bg
{
  position: absolute;
  width: 100%;
  z-index: 1; 
}

body{ 
  font-family: 'Crete Round', serif;
  margin:0px;   
  padding:0px; 
}

.Entrada {
  position: relative;
  z-index: 9; 
  margin: center;
}

.Entrada a, p {
  text-decoration:none;
  color: white;
}
.Entrada img{
  width: 40%;
}
.Entrada p{
  text-align: inline;
}
.Entrada a{
  font-size: 35px;
  
}


#cssmenu a{
  text-decoration:none;
  color:#FFFFFF;
  background-color: rgb(200,0,95);
  display: block;
  padding: 20% 12%;
  height: 32px;
  font-size: 25px;
  margin-top: center;
}  

#cssmenu a:hover{

  background-color: rgb(200,0,95);
}  

#cssmenu *{
  position: relative;
  z-index: 1;
  margin-left:0px;
  padding-left:0px;
  list-style: none;
  width: 95px;
}
#cssmenu {
  width: 20%;
}

